{% extends 'quote/html/home.html' %}

{% load static %}

{% block title %}Vista General Usuarios{% endblock %}

{% block content %}
<body id="body_users">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
    integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
    crossorigin="anonymous"></script>


    <h1 id="titulo_usuarios">Usuarios</h1>
    <h1 id="InfoA">Home</h1>
    <h1 id="Mark">></h1>
    <h1 id="InfoB">Vista de Usuarios</h1>

    <div class="modal fade" id="exampleModalFabricante" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Fabricante</h5>
                  
              </div>
              <div class="modal-body">
                  <div class="mb-3">
                      <label for="ProducerName" class="form-label">Ingrese el nombre del Fabricante</label>
                      <input name="producerName" type="text" class="form-control" id="ProducerName" placeholder="Ej : Chevrolet">
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-primary" onclick="ProducerFilter()" data-bs-dismiss="modal">Añadir</button>
              </div>
          </div>
      </div>
    </div>

    <button id="btn_agregar" class="hover-underline-animation" onclick= "abrir_modal_creacion('{% url 'quo:crear_usuario' %}');"><i class="fas fa-plus but_mas"></i>Añadir</button>
    <button id="btn_pregunta" class="hover-underline-animationB"><i class="fas fa-question but_circle"></i></button>

  


 <!-- TABLA INFO USERS-->
  <div class="container_usuarios">
    <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">        
                    <table id="myTable" class="table display" style="width:95%">
                    <thead>
                        <tr>
                            <th>ID Usuario</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Email</th>
                            <th>Ciudad</th>
                            <th>Provincia</th>
                            <th>País</th>
                            <th>Telefono de Usuario</th>
                            <th>Último acceso al sistema</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--  
                        <tr id="1">
                            <td>1</td>
                            <td>Juan</td>
                            <td>Perez</td>
                            <td>juan_perez@gmail.com</td>
                            <td>Atacames</td>
                            <td>Esmeraldas</td>
                            <td>Ecuador</td>
                            <td>0996876674</td>
                            <td>2021-09-23 03:31:20.500992</td>
                            <td><button data-toggle="modal" data-target="#exampleModalEdit" id="btn_Opciones"><i id="pop" class="fas fa-pencil-alt button_edit"></i></button><button id="btn_Opciones_S"><i id="pop" class="fas fa-times button_delete"></i></button></td>
                        </tr>
                        -->
                        {% for todo in usuarios %}
                        <tr>
                            <td>{{ todo.id_user }}</td>
                            <td>{{ todo.first_name }}</td>
                            <td>{{ todo.last_name }}</td>
                            <td>{{ todo.email }}</td>
                            <td>{{ todo.city }}</td>
                            <td>{{ todo.province }}</td>
                            <td>{{ todo.country }}</td>
                            <td>{{ todo.mobile_phone }}</td>
                            <td>{{ todo.last_login }}</td>
                            <td><button data-toggle="modal" data-target="#exampleModalEdit" id="btn_Opciones"><i id="pop" class="fas fa-pencil-alt button_edit"></i></button><button id="btn_Opciones_S"><i id="pop" class="fas fa-times button_delete"></i></button></td>
                            <td><a href="{% url 'quo:AddUserModal' todo.id_user %}">UPDATE</a></td>
                            <td><a href="{% url 'quo:EliminarUser' todo.id_user %}">ELIMINAR</a></td>

                        </tr>
                        {% endfor %}
                    </tbody>        
                </table>                  
                </div>
            </div>
    </div>  
  </div> 

  <div class="modal fade" id="creacion" role="dialog">

  </div>

  <div class="modal fade" id="edicion" role="dialog">

  </div>

  <div class="modal fade" id="eliminacion" role="dialog">

  </div>


  
</body>

{% endblock %}

{% block extrajs%}
<script type="text/javascript">
  function abrir_modal_creacion(url){
    var $ =jQuery.noConflict();
    $('#creacion').load(url,function(){
      $(this).modal('Show');
    });
  }
</script>
{% endblock extrajs%}