{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Iniciar Sesión</title>
    <meta charset="UTF-8" />
    <link href="{% static 'css/LoginST.css'%}" rel="stylesheet" type="text/css"/>
    <script src="https://kit.fontawesome.com/7d201eafed.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="w3l-login-form">
        <h2>Tracto tren</h2>
        {% if showalert %}
            <div class="alert">
                <div class="text-alert">
                    Su sesión ha expirado. Por favor inicie sesión nuevamente.
                </div>
            </div>
        {% endif %}
        <form class="user" method="POST">
            {% csrf_token %}
            
            <div class=" w3l-form-group">
                <div class="group">
                    <i class="fas fa-user"></i>
                    <input type="text" id="idusername" name="username" class="form-control" placeholder="Usuario" required="required" />
                </div>
            </div>
            <div class=" w3l-form-group">
                <div class="group">
                    <i class="fas fa-unlock"></i>
                    <input type="password" id="id_password" name="password" class="form-control" placeholder="Contraseña" required="required" />
                </div>
            </div>
            <div class="forgot">
                <a href="#">Recuperar Contraseña</a>
                <p><input type="checkbox">Recordarme</p>
            </div>
            <button type="submit" name="submit">Acceder</button>
        </form>
    </div>
</body>
</html>