{% extends 'quote/html/home.html' %}

{% load static %}

{% block title %}Reportes{% endblock %}

{% block content %}
    <body id="body_reportes">
        <nav id="pri_tarjeta">
            <h1 id="tit_pri_tarjeta"> <i class="fas fa-file-alt icon_doc"></i>Cotizaciones</h1>
            <!-- AQUI VAN LOS REPORTES OBTENIDOS POR FECHAS DESCENTEMENTE-->
            <div id="div_info_primer">
                <ol>
                    <li id="listado_tp">Cotización N°200
                        <p id="listado_tp_info">Generado el 02/01/2021</p>
                        <aside class="tp_acciones">
                            <i class="fas fa-eye icon_eye"></i>
                            <i class="fas fa-file-download icon_download"></i>
                        </aside>
                    </li>
                    <li id="listado_tp">Cotización N°200
                        <p id="listado_tp_info">Generado el 02/01/2021</p>
                        <aside class="tp_acciones">
                            <i class="fas fa-eye icon_eye"></i>
                            <i class="fas fa-file-download icon_download"></i>
                        </aside>
                    </li>
                    <li id="listado_tp">Cotización N°200
                        <p id="listado_tp_info">Generado el 02/01/2021</p>
                        <aside class="tp_acciones">
                            <i class="fas fa-eye icon_eye"></i>
                            <i class="fas fa-file-download icon_download"></i>
                        </aside>
                    </li>
                </ol>
            </div>
        </nav>

        <h1 id="tit_pri_tarjeta"> <i class="fas fa-book"></i>General</h1>

        <nav id="seg_tarjeta">
            <li id="listado_ts">Reporte Información general #1
                <p id="listado_ts_info">Reporte Usuarios</p>
                <aside class="ts_acciones">
                    <i class="fas fa-eye icon_eye"></i>
                    <i class="fas fa-file-download icon_download"></i>
                </aside>
            </li>
            <li id="listado_ts">Reporte Información general #2
                <p id="listado_ts_info">Reporte Artículos</p>
                <aside class="ts_acciones">
                    <i class="fas fa-eye icon_eye"></i>
                    <i class="fas fa-file-download icon_download"></i>
                </aside>
            </li>
            <li id="listado_ts">Reporte Información general #3
                <p id="listado_ts_info">Reporte Proveedores</p>
                <aside class="ts_acciones">
                    <i class="fas fa-eye icon_eye"></i>
                    <i class="fas fa-file-download icon_download"></i>
                </aside>
            </li>
            <li id="listado_ts">Reporte Información general #4
                <p id="listado_ts_info">Reporte Categorías</p>
                <aside class="ts_acciones">
                    <i class="fas fa-eye icon_eye"></i>
                    <i class="fas fa-file-download icon_download"></i>
                </aside>
            </li>
        </nav>

        <h1 id="tit_pri_tarjeta"><i class="fas fa-file"></i>Otros 1</h1>

        <nav id="ter_tarjeta">
            <li id="listado_tt">Reporte #1
                <p id="listado_tt_info">Reporte X</p>
                <aside class="tt_acciones">
                    <i class="fas fa-eye icon_eye"></i>
                    <i class="fas fa-file-download icon_download"></i>
                </aside>
            </li>
            <li id="listado_tt">Reporte #2
                <p id="listado_tt_info">Reporte XX</p>
                <aside class="tt_acciones">
                    <i class="fas fa-eye icon_eye"></i>
                    <i class="fas fa-file-download icon_download"></i>
                </aside>
            </li>
            <li id="listado_tt">Reporte #3
                <p id="listado_tt_info">Reporte XY</p>
                <aside class="tt_acciones">
                    <i class="fas fa-eye icon_eye"></i>
                    <i class="fas fa-file-download icon_download"></i>
                </aside>
            </li>
        </nav>

        <h1 id="tit_pri_tarjeta"><i class="fas fa-file"></i>Otros 2</h1>

        <nav id="cua_tarjeta">
            <li id="listado_tc">Reporte #1
                <p id="listado_tc_info">Reporte Z</p>
                <aside class="tc_acciones">
                    <i class="fas fa-eye icon_eye"></i>
                    <i class="fas fa-file-download icon_download"></i>
                </aside>
            </li>
            <li id="listado_tt">Reporte #2
                <p id="listado_tt_info">Reporte ZX</p>
                <aside class="tt_acciones">
                    <i class="fas fa-eye icon_eye"></i>
                    <i class="fas fa-file-download icon_download"></i>
                </aside>
            </li>
            <li id="listado_tt">Reporte #3
                <p id="listado_tt_info">Reporte ZY</p>
                <aside class="tt_acciones">
                    <i class="fas fa-eye icon_eye"></i>
                    <i class="fas fa-file-download icon_download"></i>
                </aside>
            </li>
        </nav>
    </body>
{% endblock %}