{% extends 'quote/html/home.html' %}

{% load static %}

{% block title %}Reportes{% endblock %}

{% block content %}
    <body id="body_reportes">

        <nav id="titulo">Reportes</nav>

        <nav id="pri_tarjeta">
            <h1 id="tit_pri_tarjeta"> <i class="fas fa-file-alt icon_doc"></i>Cotizaciones</h1>
            <!-- AQUI VAN LOS REPORTES OBTENIDOS POR FECHAS DESCENTEMENTE-->
            <div id="div_info_primer">
                <ol>
                    <ul id="listado_tp"><i class="fas fa-circle icon_point"></i>Cotización N°200
                        <p id="listado_tp_info">Generado el 02/01/2021</p>
                        <aside class="tp_acciones">
                            <button id="btn_eye"><i class="fas fa-eye icon_eye"></i></button>
                            <button id="btn_dw"><i class="fas fa-file-download icon_download"></i></button>
                        </aside>
                    </ul>
                    <ul id="listado_tp"><i class="fas fa-circle icon_point"></i>Cotización N°200
                        <p id="listado_tp_info">Generado el 02/01/2021</p>
                        <aside class="tp_acciones">
                            <button id="btn_eye"><i class="fas fa-eye icon_eye"></i></button>
                            <button id="btn_dw"><i class="fas fa-file-download icon_download"></i></button>
                        </aside>
                    </ul>
                    <ul id="listado_tp"><i class="fas fa-circle icon_point"></i>Cotización N°200
                        <p id="listado_tp_info">Generado el 02/01/2021</p>
                        <aside class="tp_acciones">
                            <button id="btn_eye"><i class="fas fa-eye icon_eye"></i></button>
                            <button id="btn_dw"><i class="fas fa-file-download icon_download"></i></button>
                        </aside>
                    </ul>
                </ol>
            </div>
        </nav>

        

        <nav id="seg_tarjeta">
            <h1 id="tit_pri_tarjeta"> <i class="fas fa-book icon_book"></i>General</h1>
            <div id="div_info_seg">
                <ol>
                    <ul id="listado_ts"><i class="fas fa-circle icon_point"></i>Reporte Información general #1
                        <p id="listado_ts_info">Reporte Usuarios</p>
                        <aside class="ts_acciones">
                            <button id="btn_eye"><i class="fas fa-eye icon_eye"></i></button>
                            <button id="btn_dw"><i class="fas fa-file-download icon_download"></i></button>
                        </aside>
                    </ul>
                    <ul id="listado_ts"><i class="fas fa-circle icon_point"></i>Reporte Información general #2
                        <p id="listado_ts_info">Reporte Artículos</p>
                        <aside class="ts_acciones">
                            <button id="btn_eye"><i class="fas fa-eye icon_eye"></i></button>
                            <button id="btn_dw"><i class="fas fa-file-download icon_download"></i></button>
                        </aside>
                    </ul>
                    <ul id="listado_ts"><i class="fas fa-circle icon_point"></i>Reporte Información general #3
                        <p id="listado_ts_info">Reporte Proveedores</p>
                        <aside class="ts_acciones">
                            <button id="btn_eye"><i class="fas fa-eye icon_eye"></i></button>
                            <button id="btn_dw"><i class="fas fa-file-download icon_download"></i></button>
                        </aside>
                    </ul>
                </ol>
            </div>
        </nav>

        
        

        <nav id="ter_tarjeta">
            <h1 id="tit_pri_tarjeta"><i class="fas fa-file icon_ot"></i>Otros 1</h1>
            <div id="div_info_ter">
                <ol>
                    <ul id="listado_tt"><i class="fas fa-circle icon_point"></i>Reporte #1
                        <p id="listado_tt_info">Reporte X</p>
                        <aside class="tt_acciones">
                            <button id="btn_eye"><i class="fas fa-eye icon_eye"></i></button>
                            <button id="btn_dw"><i class="fas fa-file-download icon_download"></i></button>
                        </aside>
                    </ul>
                    <ul id="listado_tt"><i class="fas fa-circle icon_point"></i>Reporte #2
                        <p id="listado_tt_info">Reporte XX</p>
                        <aside class="tt_acciones">
                            <button id="btn_eye"><i class="fas fa-eye icon_eye"></i></button>
                            <button id="btn_dw"><i class="fas fa-file-download icon_download"></i></button>
                        </aside>
                    </ul>
                    <ul id="listado_tt"><i class="fas fa-circle icon_point"></i>Reporte #3
                        <p id="listado_tt_info">Reporte XY</p>
                        <aside class="tt_acciones">
                            <button id="btn_eye"><i class="fas fa-eye icon_eye"></i></button>
                            <button id="btn_dw"><i class="fas fa-file-download icon_download"></i></button>
                        </aside>
                    </ul>
                </ol>
            </div>
        </nav>

        
        <nav id="cua_tarjeta">
            <h1 id="tit_pri_tarjeta"><i class="fas fa-file icon_ots"></i>Otros 2</h1>
            <div id="div_info_cua">
                <ol>
                    <ul id="listado_tc"><i class="fas fa-circle icon_point"></i>Reporte #1
                        <p id="listado_tc_info">Reporte Z</p>
                        <aside class="tc_acciones">
                            <button id="btn_eye"><i class="fas fa-eye icon_eye"></i></button>
                            <button id="btn_dw"><i class="fas fa-file-download icon_download"></i></button>
                        </aside>
                    </ul>
                    <ul id="listado_tt"><i class="fas fa-circle icon_point"></i>Reporte #2
                        <p id="listado_tt_info">Reporte ZX</p>
                        <aside class="tt_acciones">
                            <button id="btn_eye"><i class="fas fa-eye icon_eye"></i></button>
                            <button id="btn_dw"><i class="fas fa-file-download icon_download"></i></button>
                        </aside>
                    </ul>
                    <ul id="listado_tt"><i class="fas fa-circle icon_point"></i>Reporte #3
                        <p id="listado_tt_info">Reporte ZY</p>
                        <aside class="tt_acciones">
                            <button id="btn_eye"><i class="fas fa-eye icon_eye"></i></button>
                            <button id="btn_dw"><i class="fas fa-file-download icon_download"></i></button>
                        </aside>
                    </ul>
                </ol>
            </div>
        </nav>
    </body>
{% endblock %}