{% extends 'quote/html/home.html' %}

{% load static %}

{% block title %}Vista General Usuarios{% endblock %}

{% block content %}

<body>
    <nav id="navbar_Views">
        <label id="label">VISTA GENERAL DE CATEGORÍAS</label>
    </nav>
    <nav>
        <br>
        <button type="button" class="btn btn-success">Agregar</button>
        <br>
    </nav>



    <!-- MAIN JS -->
    <script src="{% static 'scripts/scbarra.js'%}"></script>
    <script src="{% static 'scripts/url.js'%}"></script>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Precio</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>FILTROS</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>PASTILLAS</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>INSUMOS</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
{% endblock %}