{% extends 'quote/html/home.html' %}

{% load static %}

{% block title %}Vista General Usuarios{% endblock %}

{% block content %}

<body>
  <nav class="navbar navbar-light" id="navbar_Views" style="background-color: #12192C;">
    <label id="label">VISTA GENERAL DE PRODUCTOS</label>
    <ul>
      <li id="label"><a href="{% static 'templates\quote/html/sectionProducts'%}"></a> Productos</li>
      <li id="label"><a href="#"></a> Proveedores</li>
      <li id="label"><a href="#"></a> Categorías</li>
    </ul>
  </nav>
  <nav>
    <br>
    <button type="button" class="btn btn-success">Agregar</button>
    <br>
  </nav>


  <!-- MAIN JS -->
  <script src="{% static 'scripts/scbarra.js'%}"></script>
  <script src="{% static 'scripts/url.js'%}"></script>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Precio</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Bujía</td>
          <td>Elemento de arranque</td>
          <td>USD $2.50</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Pastillas</td>
          <td>Área Frenos</td>
          <td>USD $26.50</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Freno</td>
          <td>Seguridad vehículo</td>
          <td>USD $132.25</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
{% endblock %}