{% extends 'quote/html/home.html' %}
{% load static %}


{% block title %}Cotizar Final{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/sectionQuoteElements.css'%}">


<body id="body_products">

  <header id="head_cotizacion">Cotización</header>
    <div id="tableFixHead">
      <table id="table">
        <thead>
          <tr>
            <th>Unidades</th>
            <th>ID del producto</th>
            <th>Nombre producto</th>
            <th>Descripción del producto</th>
            <th>Precio (USD)</th>
            <th>Marca</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
            {% for p in selectedProducts %}
                <tr class="productRow" name="row{{ p.id_product }}">
                    <td id="iNumber"> <input type="number" value="1" min="1" class="quantity" onkeypress="return isNumberKey(event)"> </td>
                    <td>{{ p.id_product }}</td>
                    <td>{{ p.product_name }}</td>
                    <td>{{ p.description }}</td>
                    <td>{{ p.price }}</td>
                    <td>{{ p.brand }}</td>
                    <td><button  class="button_delete"><i id="pop" class="fas fa-times" ></i></button></td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
    <input type="text" name="eleDataQuote" id="eleDataQuote" value="{{productsToSave}}" hidden>
    <button id="saveDataQuote"><i class="fas fa-share-square icon_share"></i>Guardar</button>    
    

    <script type="text/javascript" src="{% static 'scripts/sectionQuote.js'%}"></script>
</body>

{% endblock %}