{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/styleVistas.css'%}" rel="stylesheet" type="text/css" />
    <title>Document</title>

</head>

<body>
    <nav>
        <label class="logo">PRODUCTOS</label>
        <ul>
            <li><a href="#"></a>PRODUCTOS</li>
            <li><a href="#"></a>CATEGORÍAS</li>
            <li><a href="#"></a>PROVEEDORES</li>
        </ul>
    </nav>
    <h4>LISTADO DE PRODUCTOS</h4>
    <div>
        <button>Agregar Producto</button>
    </div>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Precio</th>
            </tr>
        </thead>
    </table>
</body>

</html>