{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/styleVistas.css'%}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
    <title>Document</title>

</head>

<body>
    <nav>
        <label class="logo">PRODUCTOS</label>

          
      </nav>
    <h4>LISTADO DE PRODUCTOS</h4>
    <button>AGREGAR PRODUCTO</button>
    <table class="table">
        <thead class="table-dark">
          ...
        </thead>
        <tbody>
          ...
        </tbody>
      </table>
</body>

</html>