{% extends 'quote/html/home.html' %}
{% load static %}


{% block title %}Cotizar Final{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/cotizacionGeneral.css'%}">


<body id="body_products">
    <h1 id="titulo_cotizacion">Cotización General</h1>
 

    <div class="table-wrapper-scroll-y my-custom-scrollbar">

        <table class="table table-bordered table-striped mb-0">
                    <thead>
                        <tr>
                                <th>Unidades</th>
                                <th>ID del producto</th>
                                <th>Nombre producto</th>
                                <th>Descripción del producto</th>
                                <th>Precio (USD)</th>
                                <th>Marca</th>
                                <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for p in selectedProducts %}
                        <tr name="row{{ p.id_product }}">
                            <td>5</td>
                            <td>{{ p.id_product }}</td>
                            <td>{{ p.product_name }}</td>
                            <td>{{ p.description }}</td>
                            <td>{{ p.price }}</td>
                            <td>{{ p.brand }}</td>
                            <td><button  data-toggle="modal" data-target="#exampleModalEdit" class="btn_edit"><i id="pop" class="fas fa-pencil-alt button_edit"></i></button>
                            <button  class="button_delete"><i id="pop" class="fas fa-times" ></i></button></td>

                        </tr>
                        {% endfor %}
                    </tbody>        
                </table>
            </div>
</body>

{% endblock %}