/* alert */
.alert{
    background-color: #fc3955;
    margin: 0;
    padding: 0;
    align-content: center;
    border-radius: 1em;
}
.text-alert{
    padding: 1em;
    font-size: 1em;
}


body {
    margin: 0;
    padding: 0;
    background: url(../../static/src/mecanico.jpg) no-repeat 0px 0px;
    max-height: 100vh;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    padding-top: 7em;
}


h1 {
    margin: 0;
    color: #ffffff;
    text-align: center;
    font-size: 15em;
    font-weight: 500;
    letter-spacing: 1em;
    padding: 1.2em 0;
}

h2 {
    margin: 0;
    color: #fc3955;
    font-size: 2.4em;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.1em;
    padding-bottom: 1em;
}

p.w3l-register-p {
    color: #eee;
    font-size: 0.5em;
    text-align: center;
    margin-top: 2em;
}

.w3l-login-form {
    background: rgba(0, 0, 0, 0.4117647058823529);
    max-width: 500px;
    margin: 0 auto;
    padding: 3em;
    border-radius: 1em;
    box-sizing: border-box;
}

.group {
    display: flex;
    padding: 1em 1em;
    background-color: #ffffff;
}

.group i {
    color: #fc3955;
    font-size: 1.3em;
    padding: 0 0.5em;
}

.w3l-form-group {
    margin: 1em 0;
}

.w3l-form-group label {
    display: block;
    text-transform: uppercase;
    font-size: 0.8em;
    color: #d2d2d2;
    letter-spacing: 0.2em;
    margin-bottom: 0.5em;
    font-style: italic;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    border: none;
    box-sizing: border-box;
    background: transparent;
    color: #000;
}


button {
    background: #fc3955;
    color: #ffffff;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border: none;
    padding: 1em 1em;
    cursor: pointer;
    width: 100%;
    border-radius: 1.2em;
}

button:hover {
    background-color: #00BCD4;
    transition-duration: 5s;
}

.forgot {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
}

a {
    color: #eee;
    font-size: 0.9em;
    text-decoration: none;
}

.forgot p {
    color: #ffffff;
    text-align: center;
    margin: 0em;
	font-size: 0.8em;
}

.register {
    color: #00BCD4;
    text-decoration: none;
}

/*--footer--*/


/*--//footer--*/

/*-- /responsive design --*/

@media(max-width:768px) {
    h1 {
        font-size: 47px;
    }
}

@media(max-width:667px) {
    h1 {
        font-size: 45px;
    }
}

@media(max-width:640px) {
    p.copyright-agileinfo {
        letter-spacing: 1px;
    }
    h1 {
        font-size: 43px;
    }
}

@media(max-width:568px) {
    h1 {
        font-size: 40px;
    }
    p.copyright-agileinfo {
        font-size: 14px;
    }
}

@media(max-width:480px) {
    .w3l-login-form {
    margin: 0 3vw;
}
    h1 {
        font-size: 38px;
    }
    p.copyright-agileinfo {
        line-height: 1.8em;
    }
}

@media(max-width:414px) {
    h1 {
        font-size: 34px;
    }
}

@media(max-width:384px) {
    h1 {
        font-size: 30px;
    }
}

@media(max-width:320px) {
    h1 {
        font-size: 25px;
    }
    .forgot p {
        text-align: left;
    }
    .forgot {
        display: block;
    }
}

/*-- /responsive design --*/
