
.alert-succes{
    background-color: yellowgreen; text-align: center; margin: .5em;
    border-radius: .5em; padding: .6em;
    display: flex;
    /*align-items: center;
    justify-content: center;*/
}
.alert-problem{
    background-color: red; text-align: center; margin: .5em;
    border-radius: .5em; padding: .6em;
    display: flex;
    color: white;
}
.text-alert{
    align-content: flex-start;
    font-size: larger;
    margin: auto;
}
#btn-alert{
    align-content: flex-end;
    font-size: .8em;
    border-radius: .5em; 
}