
/*===== GENERAL =====*/
* {
    box-sizing: border-box !important;
}
#saludo{
    margin-top: 1em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;      
    font-size: 1.5em;
    margin-left: 18em;
}
#body_home{
    background: #E9ECF3;
}
.p_opciones{
    margin-top: 3em;
    background-color: white;
    height: 35em;
    width: 85em;
    margin-left: 1.2em;
}
.s_opciones{
    margin-top: 13em;
}


/*===== Tarjetas DIV =====*/
#p_primera_op{
    background: #00C0EF;
    height: 10.5em;
    width: 19em;
    margin-left: 22.5em;
    margin-top: 1.5em;
    float: left;
}

#p_segunda_op{
    background: #F39C11;
    height: 10.5em;
    width: 19em;
    margin-left: 1.5em;
    margin-top: 1.5em;
    float: left;
}

#s_primera_op{
    background: #00A65A;
    height: 10.5em;
    width: 19em;
    margin-left: 2em;
    margin-top: 3em;
    float: left;
}
#s_segunda_op{
    background: #DD4C39;
    height: 10.5em;
    width: 19em;
    margin-left: 1.5em;
    margin-top: 3em;
    float: left;
}
#s_tercera_op{
    background: #F48020;
    height: 10.5em;
    width: 19em;
    margin-left: 1.55em;
    margin-top: 3em;
    float: left;
}

#s_cuarta_op{
    background: #2823BC;
    height: 10.5em;
    width: 19em;
    margin-left: 1.5em;
    margin-top: 3em;
    float: left;
}

/*===== ICONOS =====*/
.icon_usuario{
    margin-right: 0.8em;
}
.icon_cuentas{
    color: #00A3CC;
    margin-right: 0.1em;
    margin-top: .3em;
    float: right;
    font-size: 2.2em;
}
.icon_pagina{
    color: #D08510;
    margin-right: 0.1em;
    margin-top: .3em;
    float: right;
    font-size: 2.2em;
}
.icon_articulos{
    color: #018D4E;
    margin-right: 0.3em;
    margin-top: .3em;
    float: right;
    font-size: 2.2em;
}
.icon_usuarios{
    color: #BB4031;
    margin-right: 0.3em;
    margin-top: .3em;
    float: right;
    font-size: 2.2em;
}
.icon_proveedores{
    color: #C76706;
    margin-right: 0.3em;
    margin-top: .3em;
    float: right;
    font-size: 2.2em;
}
.icon_categorias{
    color: #2F2C79;
    margin-right: 0.3em;
    margin-top: .3em;
    float: right;
    font-size: 2.2em;
}
.icon_acceder{
    color: whitesmoke;
    margin-left: 0.2em;
}
.icon_gestion{
    margin-left: 1em;
    margin-right: 0.5em;
    margin-top: .5em;
}
.icon_opciones{
    margin-left: 2em;
    margin-right: 0.8em;
}



/*===== TITULOS, DESCRIPCION Y FOOTER =====*/
#p_titulo{
    color: white;
    margin-left: 0.4em;
    padding-top: 0.5em;
}
#s_titulo{
    color: white;
    margin-left: 1em;
    padding-top: 0.5em;
}
#s_descrip{
    color: white;
    margin-left: 2.5em;
    font-size: large;
}
#p_footer_pri{
    background-color: #00ABD7;
    width: 19em;
    margin-top: 5em;
}
#p_footer_seg{
    background-color: #DA8C10;
    width: 19em;
    margin-top: 5em;
}
#s_footer_pri{
    background-color: #009551;
    width: 19em;
    margin-top: 3em;
}
#s_footer_seg{
    background-color: #C64233;
    width: 19em;
    margin-top: 3em;
}
#s_footer_ter{
    background-color: #da711c;
    width: 19em;
    margin-top: 3em;
}
#s_footer_cua{
    background-color: #302C9B;
    width: 19em;
    margin-top: 3em;
}
#tit_footer{
    color: white;
    margin-left: 7em;
}
#p_titulo_gestion{
    margin-left: 1em;
    font-family: sans-serif;
    font-size: 1.6em;
    background-color: white;
    height: 1.5em;
    box-sizing: content-box;
    padding-top: 0.2em;
}
#s_titulo_opciones{
    font-family: sans-serif;
    font-size: 1.6em;
    background-color: whitesmoke;
    height: 1.5em;
    width: 55.5em;
    box-sizing: content-box;
    padding-top: 0.2em;
    float: left;
    margin-top: 3em;
    margin-left: -0.8em;
}
