@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');


/*===== TABLAS =====*/

body .container_productos{
    float: left;
    margin-top: none;   
    padding-top:1em;
    margin-left: 2em;
    margin-right: 2em;
    padding-left: 2em;
    padding-right: 2em;
    width: 45em;
    height: 45em;
    background-color:#FFFFFF;
}


body .container_cotizaciones{
    position: absolute;
    margin-top: 3em;
    padding-top:1em;
    margin-left: 48em;
    margin-right: 2em;
    padding-left: 2em;
    padding-right: 2em;
    width: 40.7em;
    height: 45em;
    background-color:#FFFFFF;
    margin-bottom: 20em ;
}



/*===== TITULOS Tabla =====*/
#tit_producto{
    float: left;
    font-size: 1.2em;
    margin-left: 1.58em;
    padding-left: 2em;
    background-color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 37.52em;
    height: 2em;
    margin-bottom: none;
}

#tit_cotizacion{
    position: absolute;
    font-size: 1.2em;
    margin-left: 40em;
    padding-left: 2em;
    background-color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 34em;
    height: 2em;
    margin-bottom: none;
}


/*===== BOTON MOVER ELEMENTOS TABLAS  =====*/
#boton_cotizacion{
    margin-top: 12em;
    margin-left: 6em;
    border: none;
    background-color: transparent !important;
}

.fa-chevron-circle-right{
    color: #12192C;
    font-size: 2.5em;
}
.fa-chevron-circle-right:hover{
    color: #4987CE;
}
/*===== Boton borrar Tabla =====*/
.fa-trash-alt{
    color: #EF3C5F;
    font-size: 1.2em;
}
.fa-trash-alt:hover{
    color: #1D9AD6;
}
#bt_borrar{
    border: none;
    background-color: transparent !important;
}


/*===== Titulos =====*/
.Titulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 2em;
}
label{
    font-size: 1.2em;
  
}
/*===== Botones FILTROS y body =====*/
#body_cotizacion{
    background-color: #E9ECF3;
}
#bot_filtro{
    margin-top: 6em;
}
#bot_finales{
    margin-top: 50em;
    margin-left: 2em;
}
li{
    display:inline;
    padding-left:3px;
    padding-right:3px;
}

#bot_filtro{
    padding-left: 2em;
}

button{
    background-color: #305A89;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 0.7em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 0.7em 2em;
    cursor: pointer;
}
button:hover{
    background-color: #4987CE;
}

/*==========BUSQUEDA===========*/
.buscar{
    position: absolute;
    padding: 2em;
    margin-bottom: 1em;
}
.buscar input{
    width: 25em;
    height: 2em;
    padding: 0 1em;
    font-size: 1.2em;
    color: #000;
    outline: none;
    border: 0.2em solid silver;
    border-radius: 0.1em;
}
.btn_busqueda{
    position: absolute;
    top: 1.5em;
    right: 0;
    background: #F5A623;
    width: 3.4em;
    height: 3.4em;
    text-align: center;
    line-height: 3.4em;
    color: white;
    border-radius: 50%;
    cursor: pointer;
}

/*==========ICONOS===========*/
.icon_herramienta{
    margin-right: 1em;
    margin-top: 0.6em;
}
.icon_lista{
    margin-right: 1em;
    margin-top: 0.6em;
}
.icon_dollar{
    margin-right: 0.5em;
}
.icon_tools{
    margin-right: 0.5em;
}
.icon_factory{
    margin-right: 0.5em;
}
.icon_people{
    margin-right: 0.5em;
}
.icon_print{
    margin-right: 0.5em;
}
.icon_save{
    margin-right: 0.5em;
}
.icon_share{
    margin-right: 0.5em;
}