@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');

body{
    height: 100vh;
}


/*===== TABLAS =====*/
#tabla_preview{
    margin-top: 1em;
}

#productsTable{
    font-size: small;
}
#tables_tops{
    display: block;
}
.selectedProductsDiv{
    height: 28em;
    overflow: auto;
}
.selectedProductsDiv thead th{
    position: sticky; top: 0; z-index: 3;
    background-color: #FFF;
}
.selectedProductsPreview{
    height: 30em;
    overflow: auto;
}
.selectedProductsPreview thead th{
    position: sticky; top: 0; z-index: 3;
    background-color: #FFF;
}

.container_productos{
    float: left;
    margin-top: none;   
    padding-top:.5em;
    margin-left: 2em;
    margin-right: 1em;
    padding-left: 1em;
    padding-right: 1em;
    width: 30em;
    height: 25em;
    background-color:#FFFFFF;
}

.Pagination{
    display:table-footer-group;
}


.container_cotizaciones{
    position: absolute;
    margin-left: 33em;
    margin-right: 2em;
    padding-left: 1em;
    padding-right: 1em;
    width: 55.7em;
    height: 25em;
    background-color:#FFFFFF;
}

.container_cotizaciones_n3{
    position: absolute;
    padding-top:1em;
    margin-left: 90em;
    margin-right: 2em;
    padding-left: 2em;
    padding-right: 2em;
    width: 55.7em;
    height: 25em;
    background-color:#FFFFFF;
}


/*===== TITULOS Tabla =====*/
.tit_produc_registrado{
    float: left;
    font-size: 1.2em;
    margin-left: 1.58em;
    padding-left: 2em;
    background-color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 25em;
    height: 2em;
    margin-bottom: none;
}
.chBox{
    width: 1.2em;
    height: 1.2em;
}
.tit_produc_seleccionado{
    float: left;
    font-size: 1.2em;
    margin-left: 1em;
    padding-left: 2em;
    background-color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 46em;
    height: 2em;
    margin-bottom: none;
}


#tit_cotizacion{
    position: absolute;
    font-size: 1.2em;
    margin-left: 40em;
    padding-left: 2em;
    background-color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 34em;
    height: 2em;
    margin-bottom: none;
}
#tit_cotizacion_n3{
    font-size: 1.2em;
    margin-left: 72em;
    padding-left: 2em;
    background-color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 34em;
    height: 2em;
    margin-bottom: none;    
}
#head_cotizacion{
    margin-top: 1em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;      
    font-size: 1.5em;
    margin-top: -0.8em;
    background-color: #12192C;
    color: white;
    height: 1.9em;
    padding-left: 2em;
    padding-top: 0.3em;
    margin-left: -1em;
    width: auto;
}

/*===== Speacion filtros barra =====*/
#containerButtons{
    width: 100%;
    display: flex;
}

#btn_vistaprevia{
    margin-left: auto;
    margin-right: 2em;
}

/*===== Boton borrar Tabla =====*/
.fa-trash-alt{
    color: #EF3C5F;
    font-size: 1.2em;
}
.fa-trash-alt:hover{
    color: #1D9AD6;
}
#bt_borrar{
    border: none;
    background-color: transparent !important;
}

/*===== Titulos =====*/
#titulos_secciones{
    display: flex;
    align-items: center;
}
.Titulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    margin-left: 2em;
    display: flex;
}
label{
    font-size: 1.2em;
    
}
/*===== Botones FILTROS y body =====*/
#body_cotizacion{
    margin-left: -1em;
    background-color: #E9ECF3;
}
#btn_filtros{
    margin-top: 1em;
    padding-left: 2em;
}
#continueData{
    margin-left: auto;
    margin-right: 3em;
}
li{
    display:inline;
    padding-left:3px;
    padding-right:3px;
}

button{
    background-color: #305A89;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 0.7em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    /*margin: 0.7em 2em;*/
    cursor: pointer;
}
button:hover{
    background-color: #4987CE;
}

#searchBtn{
    background: #F5A623;
    height: auto;
    line-height: auto;
    color: white;
    cursor: pointer;
    align-items: center;
    border-radius: .5em;
}

/*==========BUSQUEDA===========*/
.buscar{
    position: absolute;
    padding: 2em;
    margin-bottom: 1em;
}
#barra_busqueda{
    width: 25em;
    height: 2em;
    padding: 0 1em;
    font-size: 1.2em;
    color: #000;
    outline: none;
    border: 0.2em solid silver;
    border-radius: 0.1em;
    margin-left: 2em;
    margin-top: 1.5em;
}


/*==========ICONOS===========*/

.icon_herramienta{
    margin-right: 1em;
    margin-top: 0.6em;
}
.icon_lista{
    margin-right: 1em;
    margin-top: 0.6em;
}
.icon_dollar{
    margin-right: 0.5em;
}
.icon_tools{
    margin-right: 0.5em;
}
.icon_factory{
    margin-right: 0.5em;
}
.icon_people{
    margin-right: 0.5em;
}
.icon_print{
    margin-right: 0.5em;
}
.icon_save{
    margin-right: 0.5em;
}
.icon_share{
    margin-right: 0.5em;
}
.icon_search{
    float: inline-start;
}

/*LABELS*/
.badge{
    margin: 1em .5em;   
}
