input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }


#label{
  color: white  ;
  
}
#navbar_Views{
  background-color: #12192C;;
  margin-top: -1em;
  margin-left: -1.5em;
  padding-left: 1.5em;
  
}
#btnCrud{
  background-color: #F5A623;
  color:white;
}
#btnCreate{
  background-color: #F5A623;
  color:white;
  float: right;
  margin: .9em 1em;
}

.listTableDiv{
  height: 90vh;
  width: 100%;
  overflow: auto;
}
.listTableDiv thead th{
  position: sticky; top: 0; z-index: 3;
  background-color: #FFF;
}
#pop{
  margin-left: -.3em;
}

form{
  display: block;
  align-items: center;
  align-content: center;
}
input{
  width: 100%;
  margin: .5em 0;
}

