{% extends 'quote/html/home.html' %}

{% load static %}

{% block title %}Proveedores{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/styleProdSupplCate.css '%}">
<script src="{% static 'scripts/scbarra.js'%}"></script>
<script src="{% static 'scripts/url.js'%}"></script>

<body>
  {% if success is False %}
  <div class="alert-problem" id="alert-problem" style="margin: -.8em 0 0 20%; width: auto; height: auto; position: absolute;">
      <div class="text-alert">
          <b>Ha ocurrido un error. Por favor revise los datos a ingresar e intente de nuevo.</b>
      </div>
      <button id="btnCreate" type="button" class="btn" style="margin: 0 .5em; background-color: black;">OK</button>
  </div>
  {% endif %}
  <nav id="navbar_Views">
    <label id="label">VISTA GENERAL DE PROVEEDORES</label>
    <!-- Button modal Products -->
    <button id="btnCreate" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createProduct">Agregar</button>
  </nav>

  <!-- Modal Products-->
  <div class="modal fade" id="createProduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Añadir Nuevo Proveedor</h5>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                  {% csrf_token %}
                  <label for="name">Nombre de Empresa</label>
                  <input class="form-control" type="text" name="name" id="name" placeholder="Ejm: Mansuera Quito">
                  <label for="description">Descripción</label>
                  <input class="form-control" type="text" name="description" id="description" placeholder="Descripción">
                  <label for="contacName">Encargado</label>
                  <input class="form-control" type="text" name="contacName" id="contacName" placeholder="José Delgado">
                  <label for="landline">Teléfono Fijo</label>
                  <input class="form-control" type="number" name="landline" id="landline" placeholder="062760399">
                  <label for="mobil">Celular</label>
                  <input class="form-control" type="number" name="mobil" id="mobil" placeholder="5930999999999">
                  <label for="email">Correo Electrónico</label>
                  <input class="form-control" type="email" name="email" id="email" placeholder="ejemplo@gmail.com">
                  <label for="address">Dirección</label>
                  <input class="form-control" type="text" name="address" id="address" placeholder="Ejm: Av. Occidental N70-297 y, Quito 170134">
                  <label for="city">Ciudad</label>
                  <input class="form-control" type="text" name="city" id="city">
                  <label for="province">Provincia</label>
                  <input class="form-control" type="text" name="province" id="province">
                  <label for="country">País</label>
                  <input class="form-control" type="text" name="country" id="country">
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button id="AddProduct" type="submit" class="btn btn-primary" data-bs-dismiss="modal">Añadir</button>
                  </div>
                </form>
            </div>
            
        </div>
    </div>
  </div>

  <!-- MAIN JS -->
  <div class="listTableDiv">
    <table class="table listTable">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Encargado</th>
          <th>Telf. Fijo</th>
          <th>Telf. Movil</th>
          <th>Correo</th>
          <th>Direccion</th>
          <th>Ciudad/Provincia/País</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody id="suppliersTableELements">
        {% for x in suppliers %}
        <tr>
          <td>{{ x.id_supplier }}</td>
          <td>{{ x.supplier_name }}</td>
          <td>{{ x.description }}</td>
          <td>{{ x.conctact_name }}</td>
          <td>{{ x.landline }}</td>
          <td>{{ x.mobile_phone }}</td>
          <td>{{ x.email }}</td>
          <td>{{ x.address }}</td>
          <td>{{ x.city }}/{{ x.province }}/{{ x.country }}</td>
          <td><button onclick="openSupplierEdit('{% url 'quo:editSuppliers' x.id_supplier %}')" data-toggle="modal" data-target="#exampleModalEdit" class="btn_edit"><i id="edit" class="fas fa-pencil-alt button_edit"></i></button></td>
          <td><button onclick="openSupplierDelete('{% url 'quo:deleteSuppliers' x.id_supplier %}')" class="button_delete"><i id="pop" class="fas fa-times" ></i></button></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>



  {% block modal%}
  {% endblock %}

  <div class="modal fade" role="dialog" id="editSupplierModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  </div>
  <div class="modal fade" role="dialog" id="deleteSupplierModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  </div>

</body>
{% endblock %}


{% block extrajs%}
<script type="text/javascript">
  function openSupplierEdit(url){
    var $ =jQuery.noConflict();
    $('#editSupplierModal').load(url,function(){
      $(this).modal('show');
    });
  }
  function openSupplierDelete(url){
    var $ =jQuery.noConflict();
    $('#deleteSupplierModal').load(url,function(){
      $(this).modal('show');
    });
  }
</script>
{% endblock extrajs%}


